# PyCharm
out/
.idea/workspace.xml
.idea/sonarlint

# Python build
dist/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

### OS-specific ###

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
*.swp

# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
*.lnk

# Misc
.env
.env.local
infra/compose/.env
infra/compose/.env.local
*.bak
*.cache
*.tmp
*.log
*.zip
logs/
chat/
discussions/
node_modules/
/.pmd
/.ruleset
.black_cache/
src/structure/app/target/pyspark/logic/model/PySparkStepResultRecipe.py.isorted
*.pickle
*.isorted
.coverage
