COMPOSE_PROJECT_NAME=structure-integration

PYSPARK35_VERSION=3.5.0
PYSPARK40_VERSION=4.0.0

SPARK35_MASTER_PORT=37077
SPARK35_MASTER_UI_PORT=38080
SPARK35_WORKER_UI_PORT=38081

SPARK40_MASTER_PORT=47077
SPARK40_MASTER_UI_PORT=48080
SPARK40_WORKER_UI_PORT=48081

INTEGRATION_PYTEST_ARGS=
